<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce labs">
	
	<listeners>
		<listener class-name="ExtentReportListener.ExtentReportListener"></listener>
	</listeners>
	
	<test name="Sauce labs test suite">

<classes>
			<class name="com.sauce.qa.testcases.LoginPageTest">	</class>

			<class name="com.sauce.qa.testcases.AddToCartTest">	</class>
			<class name="com.sauce.qa.testcases.InvalidLoginTest">	</class>

			

	</classes>
	</test>
</suite>